@charset "utf-8";
/* CSS Document */

*,
::after,
::before {
    box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
tt,
ul,
var {
    border: 0;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: none !important;
    padding: 0;
    vertical-align: baseline;
    font-family: 'Kanit', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
    background-repeat: repeat-x;
    font-family: 'Kanit', sans-serif;
    font-size: 17px;
    color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 20px 0;
}

h1 {
    color: #181818;
    font-size: 40px;
    font-weight: 600;
}

h2 {
    font-size: 30px;
    font-weight: 400;
}

a {
    color: inherit;
    outline: none !important;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

button,
button:focus {
    outline: none !important;
}

ol {
    padding-left: 0;
}

ol li {
    list-style: inherit;
}

ul li {
    list-style: none;
}

ul {
    padding-left: 0;
}

li,
ul {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
    border: none;
    outline: none;
}

.btn {
    border: none !important;
}

h1 {
    font-size: 38px;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    text-transform: capitalize;
}

.btn:focus,
.form-control:focus,
.resizeselect:focus {
    box-shadow: none;
    border: none;
    outline: 0;
}

header {
    position: relative;
    display: block;
    width: 100%;
    z-index: 3;
}

.join-btn {
    background: #fd0960;
    color: #fff;
    border-radius: 30px;
    padding: 6px 20px;
}

.login-btn {
    background: #12294a;
    color: #fff;
    border-radius: 30px;
    padding: 6px 20px;
    margin-right: 15px;
}

.banner-section {
    width: 100%;
    background: #03193a url(../images/banner2-new.jpg);
    height: 600px;
    overflow: hidden;
    position: relative;
    display: grid;
    align-content: center;
    padding-top: 48px;
    background-size: cover;
}

.ind-banner h5 {
    color: #fd0960;
    font-family: 'Kanit', sans-serif;
}

.ind-banner h2 {
    color: #fff;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 48px;
    text-shadow: #000 1px 2px 8px;
    line-height: 59px;
}

.banner-section .carousel-item h2,
.banner-section .carousel-item p {
    color: #fff;
}

.banner-section .carousel-dark .carousel-caption {
    text-align: left;
}

.banner-section .carousel-caption {
    right: inherit !important;
    left: 0 !important;
    top: 140px;
    width: 44%;
}

.navbar {
    left: 0;
    right: 0;
    background: #172c48;
    padding: 14px 0;
}

.reg-btn {
    background-color: #fd0960;
    color: #fff;
}

.navbar-brand {
    margin-top: 0;
    padding-top: 0;
}

.navbar-nav .nav-item {
    margin-right: 27px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .075em;
}

.top-bar-head {
    padding: 10px;
    display: inline-block;
    width: 100%;
    background: #172c48;
}

.top-games1-div .comon-btn {
    background: #fff !important;
    color: #d65470 !important;
}

.top-bar-head a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.list-part-top a {
    margin-right: 25px;
    text-transform: uppercase;
    font-size: 14px;
}

.my-account {
    margin-left: 25px;
}

.right-top-l a {
    color: #fff !important;
    font-size: 14px;
    cursor: pointer;
}

.my-account i {
    margin-right: 8px;
    color: #fd0960;
}

.login-right-div a {
    color: #fff !important;
}

.navbar .container-fluid {
    align-items: center;
}

.serach-div-part {
    background: #1c2a3a;
    border-radius: 8px;
    height: 50px;
    align-items: center;
    display: flex;
    width: 290px;
}

.serach-div-part .btn {
    color: #fff;
}

.serach-div-part .form-control {
    background: none !important;
    border: none !important;
    color: #fff;
    width: 240px;
}

.serach-div-part .form-control::placeholder {
    color: #fff;
}

.logo-divb {
    background: #18212c;
    padding: 35px 0;
    display: inline-block;
    width: 100%;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fd0960;
}

.btn-banner-n {
    background: #fd0960;
    color: #fff;
    border-radius: 30px;
    padding: 6px 20px;
}

.btn-register-now {
    background: #fd0960;
    color: #fff;
}

.banner-section .carousel-inner h5 {
    color: #fd0960;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0;
    text-transform: uppercase;
}

.banner-section .carousel-inner h2 {
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    font-size: 50px;
    line-height: 50px;
}

.banner-section .carousel-inner figure {
    width: 70%;
    position: absolute;
    right: 0;
    top: 0;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #fff;
}

.total-body-part {
    display: inline-block;
    width: 100%;
    background: #fff;
}

.comon-sub-txet {
    color: #fd0960;
}

.main-heading {
    color: #151515;
    font-weight: 400;
    font-family: 'Kanit', sans-serif;
}

.comon-btn {
    background: -webkit-linear-gradient(left, #ff2b9c 0%, #ff4b26 100%);
    background: linear-gradient(to right, #ff2b9c 0%, #ff4b26 100%);
    color: #fff;
    padding: 8px 20px;
    border-radius: 30px;
    transition: all 0.5s;
    font-size: 17px;
    text-decoration: none;
}

.comon-btn:hover {
    background: linear-gradient(281deg, rgba(255, 141, 53, 1) 0%, #fd0960 60%);
    color: #fff;
}

.comon-latse-lt {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    background: #fd0960;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.top-sec-lt {
    padding: 20px 30px 20px 30px;
    background: #172c48;
}

.comon-latse-lt .cm-clubs figure {
    width: 52px;
    display: inline-block;
    margin: 0;
    height: 61px;
    overflow: hidden;
}

.comon-latse-lt .cm-clubs h6 {
    margin: 0;
}

.comon-latse-lt .cm-clubs h6 span {
    font-size: 12px;
    margin-top: 8px;
}

.time-s1 {
    background: -webkit-linear-gradient(left, #fe2c71 0%, #fc4e55 100%);
    background: linear-gradient(to right, #fe2c71 0%, #fc4e55 100%);
    color: #fff !important;
    padding: 8px 20px;
    border-radius: 30px;
    transition: all 0.5s;
}

.hover-div {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    height: 228px;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #252a3ade;
    transition: all 0.5s;
    transform: translateY(-100%);
}

.comon-latse-lt:hover .hover-div {
    bottom: 0;
    transform: translateY(0);
}

.ply-btn {
    background: -webkit-linear-gradient(left, #fe2c71 0%, #fc4e55 100%);
    background: linear-gradient(to right, #fe2c71 0%, #fc4e55 100%);
    color: #fff;
    padding: 8px 20px;
    border-radius: 30px;
    transition: all 0.5s;
    font-size: 17px;
}

.view-btn {
    background: #fff;
    color: #fd0960 !important;
    padding: 8px 20px;
    border-radius: 30px;
    transition: all 0.5s;
    font-size: 17px;
    margin-left: 15px;
}

.live-casiono {
    display: inline-block;
    background: #18212c;
    width: 100%;
}

.live-casion {
    display: inline-block;
    width: 100%;
    height: 280px;
    overflow: hidden;
    text-decoration: none;
}

.live-casion p {
    color: #fd0960;
}

.live-casion figure {
    height: 200px;
    overflow: hidden;
    width: 100%;
    position: relative;
    border-radius: 10px;
}

.live-casion figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.live-casion figcaption {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    transform: translateY(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #181818e8;
    top: 0;
    bottom: 0;
    transition: all 0.5s;
}

.live-casion:hover figcaption {
    transform: translateY(0);
}

.to-palayers-div {
    background: #fff;
    display: inline-block;
    width: 100%;
}

.items-slider {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    background: #172c48;
    text-align: center;
    color: #fff !important;
    position: relative;
    padding-top: 45px;
    border-radius: 8px;
    margin-top: 50px;
}

.items-slider figure {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
}

.count1 {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: -webkit-linear-gradient(left, #fe2c71 0%, #fc4e55 100%);
    background: linear-gradient(to right, #fe2c71 0%, #fc4e55 100%);
    border-radius: 50%;
    margin: auto;
}

.bnty-div {
    width: 100%;
    display: inline-block;
    background: #fd0960;
    margin-top: 10px;
}

.bnty-div h5 span {
    color: #1b1f24;
}

.top-games1-div {
    display: inline-block;
    width: 100%;
    background: -webkit-linear-gradient(left, #fe2c71 0%, #fc4e55 100%);
    background: linear-gradient(to right, #fe2c71 0%, #fc4e55 100%);
}

.comons-games {
    display: inline-block;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.comons-games figure {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.comons-games figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: all 0.5s;
}

.comons-games figure>figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    transform: scale(0);
    transition: all 0.5s;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 75%);
}

.comons-games h5 {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    color: #ffff;
    bottom: 0;
    padding-bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8295693277310925) 60%);
    margin: 0;
    height: 80px;
    padding-top: 36px;
}

.comons-games:hover figure img {
    transform: scale(1.1);
}

.comons-games:hover figure>figcaption {
    transform: scale(1);
}

.comons-games .comon-btn {
    width: 140px;
}

.comons-games .view-btn {
    background: #fff;
    color: #fd0960;
    width: 140px;
    margin-left: 0
}

.how-todo-div {
    display: inline-block;
    width: 100%;
    background: #fff;
}

.crm-steps figure {
    width: 190px;
    display: block;
    margin: auto;
    height: 210px;
}

.crm-steps h5 {
    text-align: center;
    color: #151515;
    font-weight: 600;
}

.crm-steps span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    align-content: center;
    justify-content: center;
    color: #fff;
    background: -webkit-linear-gradient(left, #fe2c71 0%, #fc4e55 100%);
    background: linear-gradient(to right, #fe2c71 0%, #fc4e55 100%);
    margin: auto;
}

.fatures-div {
    display: inline-block;
    width: 100%;
    background: #edeff4;
}

.crm-feat {
    display: inline-block;
    width: 100%;
    background: #172c48;
    color: #fff;
    border-radius: 8px;
    padding: 20px;
}

.bgn {
    background: #f7b701 !important;
}

.crm-feat figure {
    width: 50px;
    display: inline-block;
    margin-bottom: 5px;
}

.crm-feat h5 {
    margin-bottom: 8px;
    font-weight: 600;
}

.plya-div1 {
    display: grid;
    align-content: center;
    width: 100%;
    background: #03193a url(../images/wp8054901-1.jpg) fixed no-repeat;
    background-position: center bottom;
    background-size: cover;
    min-height: 550px;
}

.comon-feta {
    display: grid;
    width: 100%;
    height: 300px;
    align-content: center;
    backdrop-filter: blur(12px);
    border-radius: 8px;
    overflow: hidden;
}

.comon-feta h2 {
    color: #fff;
    font-weight: 600;
    font-size: 40px;
}

.comon-feta figure {
    width: 100px;
    height: 100px;
    display: grid;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    margin: auto;
    background: -webkit-linear-gradient(left, #fe2c71 0%, #fc4e55 100%);
    background: linear-gradient(to right, #fe2c71 0%, #fc4e55 100%);
    border: solid 2px #fff;
}

.comon-feta figure img {
    width: 50px;
    margin: auto;
}

.comon-feta h5 {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
}

.leading-bord-div {
    display: inline-block;
    width: 100%;
    background: #fff;
}

.leading-bord-div .nav-pills .nav-link.active,
.leading-bord-div .nav-pills .show>.nav-link {
    background: -webkit-linear-gradient(left, #fe2c71 0%, #fc4e55 100%);
    background: linear-gradient(to right, #fe2c71 0%, #fc4e55 100%);
    color: #fff;
}

.leading-bord-div .nav-pills .nav-link {
    border-radius: 50px;
    color: #151515;
    font-size: 19px;
    text-transform: capitalize;
}

/* .leading-bord-div td,
.leading-bord-div th,
.leading-bord-div label,
.dataTables_info{
	color: #fff;
} */

.leading-bord-div table {
    background: #fff;
}

.leading-bord-div label,
.dataTables_info {
    /* color: #fff; */
}

.tab-user {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 8px 0 0;
}

.top-offers-d1 {
    display: inline-block;
    width: 100%;
    background: #edeff4;
}

.comon-ofers {
    display: inline-block;
    width: 100%;
    background: #221a62;
    padding: 30px;
    border-radius: 8px;
    height: 400px;
    transform: scale(1);
    transition: all 0.5s;
}

.comon-ofers:hover {
    transform: scale(1.1);
}

.comon-ofers h6 {
    color: #fd0960;
    font-weight: 600;
}

.comon-ofers h4 {
    margin: 0px 0;
    font-weight: 600;
}

.comon-ofers h2 span {
    font-size: 12px;
    color: #fd0960;
    text-transform: uppercase;
}

.comon-ofers p {
    font-size: 14px;
}

.bg-grdient {
    background: -webkit-linear-gradient(left, #fe2c71 0%, #fc4e55 100%);
    background: linear-gradient(to right, #fe2c71 0%, #fc4e55 100%);
}

footer {
    background: #18212c;
    background-size: cover;
    width: 100%;
    color: #fff;
}

.comon-ftes h3 {
    color: #fff;
    font-weight: 600;
}

.comon-ftes p {
    font-size: 14px;
}

.comon-ftes ul li {
    margin-bottom: 15px;
}

.comon-ftes ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-div1 {
    background-color: #172c48;
    color: #fff;
    padding: 30px 0;
}

.footer-div1 li a {
    text-transform: capitalize;
    text-decoration: none;
    margin-left: 25px;
}

.sub-banner-live-betting {
    width: 100%;
    background: #03193a url(../images/banner-sub.jpg);
    height: 250px;
    overflow: hidden;
    position: relative;
    padding-top: 120px;
    text-align: center;
    background-size: cover;
}

.breadcrumb {
    justify-content: center;
}

.sub-banner-live-betting h1 {
    text-shadow: #000 1px 5px 8px;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}

.breadcrumb-item {
    text-shadow: #000 1px 5px 8px;
}

.breadcrumb-item,
.breadcrumb-item li {
    color: #fff;
}

.breadcrumb-item a {
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fd0960;
}

.live-task-a .nav-pills .nav-link {
    display: flex;
    align-items: center;
    color: #fff;
    background: #172c48;
    border-radius: 30px;
    margin-bottom: 10px;
    font-size: 16px;
}

.live-task-a .nav-pills .nav-link span {
    width: 21px;
    height: 21px;
    display: inline-block;
    margin-right: 8px;
}

.live-task-a .nav-pills .nav-link span img {
    filter: brightness(0) invert(1);
}

.live-task-a .nav-item {
    margin-right: 3px;
}

.live-task-a .nav-pills .nav-link.active,
.live-task-a .nav-pills .show>.nav-link {
    background: linear-gradient(86deg, rgba(255, 141, 53, 1) 0%, #fd0960 60%);
    border: solid 1px #fd0960;
}

.draw-btn {
    text-decoration: none;
    transition: all 0.5s;
    cursor: pointer;
}

.draw-btn:hover {
    color: #fff;
}

.bitlist {
    background: linear-gradient(86deg, rgba(255, 141, 53, 1) 0%, #fd0960 60%);
}

.place-bit-div .btn.disabled,
.place-bit-div .btn:disabled,
.place-bit-div fieldset:disabled .btn {
    background: linear-gradient(96deg, rgba(51, 49, 49, 1) 0%, rgba(115, 115, 115, 1) 60%);
}

.mn-sub-head {
    display: inline-block;
    width: 100%;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.tops-1 {
    display: inline-block;
    width: 100%;
    background: #041c40;
    padding: 10px;
    color: #999;
    font-size: 16px;
}

.tops-1 ul li {
    margin-right: 15px;
}

.tops-1 ul li i {
    font-size: 12px;
    margin-right: 8px;
}

.top-details-dm {
    padding: 5px 0;
    display: inline-block;
    width: 100%;
    background: #172c48;
}

.top-details-dm h6 {
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}

.top-details-dm h5 {
    color: #fff;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.body-dits1 {
    display: inline-block;
    width: 100%;
    background: #172c48;
}

/* slide div */

.menu-wrapper {
    position: relative;
    max-width: 100%;
    height: 190px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.menu::-webkit-scrollbar {
    visibility: hidden;
    opacity: 0;
}

.menu {
    height: 190px;
    background: #221a62;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.menu .item {
    display: inline-block;
    width: 50%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    border-left: solid 1px #484183;
}

.paddle {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3em;
}

.left-paddle {
    left: 0;
}

.right-paddle {
    right: 0;
}

.hidden {
    display: none;
}

.print {
    margin: auto;
    max-width: 500px;
}

.print span {
    display: inline-block;
    width: 100px;
}

.comon-ste-list {
    display: grid;
    align-content: center;
    justify-content: center;
    height: 151px;
    width: 100%;
    color: #fff;
    text-align: center;
}

.total-socal {
    max-width: 100%;
    overflow-x: auto;
}

.total-socal .row {
    flex-wrap: nowrap;
}

.comon-ste-list h6 {
    text-transform: capitalize;
}

.total-socal::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Track */

.total-socal::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */

.total-socal::-webkit-scrollbar-thumb {
    background: #59a01f;
    border-radius: 10px;
}

.items-dmb {
    border-left: solid 1px #494285;
    display: inline-block;
    width: 100%;
    height: 194px;
    background: #172c48;
}

.bit-div-right {
    position: fixed;
    right: 0;
    bottom: 0;
    background: #1a3157;
    width: 30%;
    height: 450px;
    display: inline-block;
    z-index: 2;
}

.live-task-a .tab-content {
    position: relative;
}

.live-task-a .place-bit-div {
    position: absolute;
    right: 0;
    top: 10px;
}

.msnb-btn li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.live-admin-div1 .modal-content {
    background: #172c48;
    display: inline-block;
}

.top-sec-modag h5 {
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}

.top-sec-modag .nav-pills .nav-link.active,
.top-sec-modag .nav-pills .show>.nav-link {
    background: linear-gradient(281deg, rgba(255, 141, 53, 1) 0%, #fd0960 60%);
    color: #fff;
}

.top-sec-modag .nav-pills .nav-link {
    color: #fff;
    font-family: 'Kanit', sans-serif;
    border-radius: 32px;
}

.body-modal-divb hr {
    background: #fff;
}

.combit-div span {
    color: #fff;
}

.conm-btn {
    background: #fff;
}

.combit-div a {
    color: #fff !important;
}

.plan-btn {
    background: linear-gradient(281deg, rgba(255, 141, 53, 1) 0%, #fd0960 60%);
    color: #fff;
    width: 100%;
    border-radius: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.login-btn {
    background: #fff;
    color: #000;
    width: 100%;
}

.btn-register {
    color: #fd0960;
    font-weight: 700;
}

.video-sec-div {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.video-sec-div video {
    width: 100%;
    object-fit: cover;
    height: 100%
}

.comon-st-play ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #484083;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.comon-live-inside {
    display: inline-block;
    width: 100%;
}

.right-counts h3 {
    font-weight: 600;
    font-size: 22px;
}

.crm-nu-list {
    display: flex;
    background: rebeccapurple;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
}

.gray-c {
    background: gray;
    color: #fff;
}

.red-c {
    background: red;
    color: #fff;
}

.green-c {
    background-color: green;
    color: #fff;
}

.top-nu-sec li {
    margin-right: 14px;
}

.choose-list li {
    margin-bottom: 13px;
}

.choose-list li .btn {
    width: 100%;
}

.choose-list li .bitlist {
    background: linear-gradient(86deg, rgba(255, 141, 53, 1) 0%, #fd0960 60%) !important;
}

.yallow-c {
    background: rgba(255, 141, 53, 1);
    color: #fff;
}

.login-right-div li {
    margin-right: 0;
}

.faq-section1 h5 {
    color: #fd0960;
}

.faq-section1 h2 {
    font-weight: 700;
    text-transform: capitalize;
}

.faq-section1 .accordion-item {
    background: none;
    border: none;
}

/* .faq-section1 .accordion-body{
	color: #fff;
   } */

.faq-section1 .accordion-button {
    font-weight: 600;
    color: #221a62;
    background: #f1f1f1;
}

.faq-section1 .accordion-button:not(.collapsed) {
    background: linear-gradient(281deg, rgba(255, 141, 53, 1) 0%, #fd0960 60%);
    color: #fff;
}

.contact-use-div h2 {
    font-weight: 600;
}

.contact-use-div .from-group {
    margin-bottom: 16px;
}

.contact-use-div .form-control {
    height: 45px;
}

.contact-use-div textarea.form-control {
    height: 100px;
}

.list-phone li {
    margin-bottom: 15px;
}

.list-phone li span:first-child {
    margin-bottom: 5px;
    font-weight: 600;
}

.list-phone li span i {
    color: #fd0960;
}

.user-icon {
    font-size: 35px;
}

.com-div-md {
    background: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
}

.login-div-modal .modal-content,
.login-div-modal .modal-header {
    background: none;
    border: none;
}

.login-div-modal .modal-content,
.login-div-modal .modal-header {
    background: none;
    border: none;
}

.login-div-modal h5 {
    font-weight: 700;
    font-size: 25px;
    color: #000;
}

.login-modal-pn .form-control {
    border: none;
    font-size: 15px;
    background: #f3f3f3;
    height: 45px;
    margin-bottom: 20px;
}

.login-div-modal .close {
    transform: none;
    position: absolute;
    right: 22px;
    top: 27px;
    border: none;
    background: none;
    font-size: 29px;
}

.login-modal-pn {
    /* background: #f3f3f3; */
    padding: 10px 40px 30px 40px;
}

.regster-bn {
    text-decoration: none;
    font-weight: 600;
    color: #fd0960;
    cursor: pointer;
}

.forget2 label {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 14px;
    width: 92%;
    color: #000;
}

.form-wizard {
    color: #888888;
    padding: 30px;
}

.form-wizard .wizard-form-radio {
    display: inline-block;
    margin-left: 5px;
    position: relative;
}

.form-wizard .wizard-form-radio input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: #dddddd;
    height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.form-wizard .wizard-form-radio input[type="radio"]:focus {
    outline: 0;
}

.form-wizard .wizard-form-radio input[type="radio"]:checked {
    background-color: #fb1647;
}

.form-wizard .wizard-form-radio input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 50%;
    left: 1px;
    right: 0;
    margin: 0 auto;
    top: 8px;
}

.form-wizard .wizard-form-radio input[type="radio"]:checked::after {
    content: "";
    display: inline-block;
    webkit-animation: click-radio-wave 0.65s;
    -moz-animation: click-radio-wave 0.65s;
    animation: click-radio-wave 0.65s;
    background: #000000;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
    border-radius: 50%;
}

.form-wizard .wizard-form-radio input[type="radio"]~label {
    padding-left: 10px;
    cursor: pointer;
}

.form-wizard .form-wizard-header {
    text-align: center;
    display: none;
}

.form-wizard .form-wizard-next-btn,
.form-wizard .form-wizard-previous-btn,
.form-wizard .form-wizard-submit {
    background-color: #d65470;
    color: #ffffff;
    display: inline-block;
    min-width: 100px;
    min-width: 120px;
    padding: 10px;
    text-align: center;
}

.form-wizard .form-wizard-next-btn:hover,
.form-wizard .form-wizard-next-btn:focus,
.form-wizard .form-wizard-previous-btn:hover,
.form-wizard .form-wizard-previous-btn:focus,
.form-wizard .form-wizard-submit:hover,
.form-wizard .form-wizard-submit:focus {
    color: #ffffff;
    opacity: 0.6;
    text-decoration: none;
}

.form-wizard .wizard-fieldset {
    display: none;
}

.form-wizard .wizard-fieldset.show {
    display: block;
}

.form-wizard .wizard-form-error {
    display: none;
    background-color: #d70b0b;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.form-wizard .form-wizard-previous-btn {
    background-color: #fb1647;
}

.form-wizard .form-control {
    font-weight: 700;
    height: auto !important;
    padding: 15px;
    color: #888888;
    background-color: #f1f1f1;
    border: none;
}

.form-wizard .form-control::placeholder {
    color: #000;
}

.form-wizard .form-control:focus {
    box-shadow: none;
}

.form-wizard .form-group {
    position: relative;
    margin: 25px 0;
}

.form-wizard .wizard-form-text-label {
    position: absolute;
    left: 10px;
    top: 16px;
    transition: 0.2s linear all;
}

.form-wizard .focus-input .wizard-form-text-label {
    color: #d65470;
    top: -18px;
    transition: 0.2s linear all;
    font-size: 12px;
}

.form-wizard .form-wizard-steps {
    margin: 30px 0;
}

.form-wizard .form-wizard-steps li {
    width: 25%;
    float: left;
    position: relative;
}

.form-wizard .form-wizard-steps li::after {
    background-color: #f3f3f3;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
}

.form-wizard .form-wizard-steps li span {
    background-color: #dddddd;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    position: relative;
    text-align: center;
    width: 40px;
    z-index: 1;
}

.form-wizard .form-wizard-steps li:last-child::after {
    width: 50%;
}

.form-wizard .form-wizard-steps li.active span,
.form-wizard .form-wizard-steps li.activated span {
    background-color: #d65470;
    color: #ffffff;
}

.form-wizard .form-wizard-steps li.active::after,
.form-wizard .form-wizard-steps li.activated::after {
    background-color: #d65470;
    left: 50%;
    width: 50%;
    border-color: #d65470;
}

.form-wizard .form-wizard-steps li.activated::after {
    width: 100%;
    border-color: #d65470;
}

.form-wizard .form-wizard-steps li:last-child::after {
    left: 0;
}

.form-wizard .wizard-password-eye {
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn-divb .form-wizard-previous-btn {
    width: 45%;
}

.prve-btn {
    border: solid 2px #fb1647;
    color: #fb1647;
    border-radius: 50px;
    text-decoration: none;
    margin-right: 8px;
}

.btn-divb .comon-btn {
    width: 45%;
}

.supot-btn figure {
    width: 100px;
    height: 80px;
    display: table;
}

.supot-btn .nav-link.active,
.supot-btn .show>.nav-link {
    color: #fff;
    background-color: #ededed !important;
}

.supot-btn .nav-link.active:after {
    position: absolute;
    content: "";
    font-family: 'FontAwesome';
    content: "\f058";
    color: green;
    top: -13px;
    right: -4px;
    font-size: 23px;
}

.supot-btn .coiu-icon {
    width: 100px;
    height: 38px;
    display: flex;
    overflow: hidden;
    margin: auto;
    align-items: center;
}

.supot-btn .coiu-icon img {
    width: 90px;
}

.supot-btn .nav-link {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sucess-fm-div i {
    color: #fb1647;
    font-size: 35px;
}

.user-icon {
    color: #000;
}

.fixed-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 250;
}

.fixed-menu .navbar {
    background: #172c48;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    padding: 16px 0;
    animation: slide-down 0.7s;
}

.mobile-menu-div {
    width: 350px;
    background: #03193a;
}

button.close-menu {
    color: #fff;
    background: none;
    border-radius: 5px;
    display: block;
    margin: 40px 0 0 0;
    width: 100px;
    border: none;
    font-size: 35px;
    text-align: right;
    margin-left: auto;
}

.comon-reslute-idv td,
.comon-reslute-idv th {
    color: #fff;
    text-align: center;
}

.sm-iconm {
    width: 20px;
    height: 20px;
}

.sm-iconm img {
    filter: brightness(0) invert(1);
}

.vs-text {
    color: #fd0960;
}

.table>:not(caption)>*>* {
    /* background: none !important;
	border: none !important;
	box-shadow: none !important; */
}

.comon-reslute-idv th {
    background: #041c40 !important;
}

.comon-reslute-idv td {
    /* border: solid 1px #041c40 !important; */
}

.comon-seache .form-select {
    width: 100%;
    height: 45px;
}

.comon-btn-submit {
    background: #fd0960;
    color: #fff;
    display: block;
    width: 100%;
    height: 45px;
}

.comon-reslute-idv .table {
    min-width: 1100px;
    overflow-x: auto;
}

.comon-infom-inside h3 {
    color: #fd0960;
}

.comonst-inside-div h2 {
    font-weight: 700;
}

.crm-comon-group {
    display: flex;
    align-content: center;
    justify-content: center;
    background: #fff;
    height: 150px;
    border-radius: 10px;
    width: 100%;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    position: relative;
    box-shadow: #e9e9e9 1px 2px 48px;
}

.crm-comon-group h5 {
    margin: 10px 0;
    font-weight: 600;
}

.crm-comon-group h5 .xero {
    width: 137px;
    display: inline-block;
    text-transform: capitalize;
}

.win-t span:last-child {
    color: #fd0960;
}

.round-1>div:first-child .crm-comon-group::before {
    position: absolute;
    content: '';
    left: 50%;
    bottom: -40px;
    width: 60%;
    height: 1px;
    background: #f81b64;
}

.round-1>div:first-child .crm-comon-group:after {
    position: absolute;
    content: '';
    left: 50%;
    top: 100%;
    height: 40px;
    width: 1px;
    background: #f81b64;
}

.round-1>div:nth-child(2) .crm-comon-group:before {
    position: absolute;
    content: '';
    right: 50%;
    bottom: -40px;
    width: 60%;
    height: 1px;
    background: #f81b64;
}

.round-1>div:nth-child(2) .crm-comon-group:after {
    position: absolute;
    content: '';
    left: 50%;
    top: 100%;
    height: 40px;
    width: 1px;
    background: #f81b64;
}

.round-1>div:nth-child(3) .crm-comon-group::before {
    position: absolute;
    content: '';
    left: 50%;
    bottom: -40px;
    width: 60%;
    height: 1px;
    background: #f81b64;
}

.round-1>div:nth-child(3) .crm-comon-group:after {
    position: absolute;
    content: '';
    left: 50%;
    top: 100%;
    height: 40px;
    width: 1px;
    background: #f81b64;
}

.round-1>div:nth-child(4) .crm-comon-group:before {
    position: absolute;
    content: '';
    right: 50%;
    bottom: -40px;
    width: 60%;
    height: 1px;
    background: #f81b64;
}

.round-1>div:nth-child(4) .crm-comon-group:after {
    position: absolute;
    content: '';
    left: 50%;
    top: 100%;
    height: 40px;
    width: 1px;
    background: #f81b64;
}

.round-2 div:first-child .crm-comon-group::before {
    position: absolute;
    content: '';
    left: 20%;
    bottom: 100%;
    height: 63px;
    width: 1px;
    background: #f81b64;
}

.round-2 div:last-child .crm-comon-group::before {
    position: absolute;
    content: '';
    left: 70%;
    bottom: 100%;
    height: 63px;
    width: 1px;
    background: #f81b64;
}

.round-2 div:first-child .crm-comon-group::after {
    position: absolute;
    content: '';
    left: 49%;
    top: 100%;
    height: 57px;
    width: 1px;
    background: #f81b64;
}

.round-2 div:last-child .crm-comon-group::after {
    position: absolute;
    content: '';
    left: 51%;
    top: 100%;
    height: 57px;
    width: 1px;
    background: #f81b64;
}

.round-3 div:before {
    position: absolute;
    content: '';
    left: 50%;
    margin-left: -167px;
    width: 334px;
    top: -45px;
    height: 1px;
    background: #f81b64;
}

.round-3 div:after {
    top: auto;
    bottom: 100%;
    height: 45px;
    position: absolute;
    content: '';
    left: 50%;
    width: 1px;
    background: #f81b64;
}

.comon-div-mina {
    background: #172c48;
}

.comon-div-mina h5 {
    background: #f81b64;
    text-align: center;
    padding: 10px 0;
    margin: 0 0 20px 0;
    font-weight: 700;
    color: #fff;
}

.comon-div-mina .cm-rev-div h5 span {
    font-size: 16px;
    margin-top: 5px;
    font-weight: 400;
}

.comon-div-mina figure {
    position: relative;
}

.comon-div-mina figcaption {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 34px;
    color: #fff;
}

.comon-div-mina p {
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}

.comon-match-div {
    display: inline-block;
    width: 100%;
    background: #172c48;
}

.comon-match-div h5 {
    background: #f81b64;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin: 0 0 20px 0;
    position: relative;
    font-weight: 700;
    text-transform: capitalize;
}

.conm-match1 {
    color: #fff;
    border-bottom: solid 1px #221a62;
    padding: 10px 20px;
}

.conm-match1 h6 {
    width: 10%;
    font-weight: 700;
    color: #f81b64;
}

.right-mtchs {
    width: 90%;
}

.dayc {
    color: #f81b64;
}

.comon-match-div small {
    position: absolute;
    left: 10px;
    top: 14px;
    font-size: 14px;
}

.mtch-tabe {
    width: 30%;
}

.final-divb {
    background: #f81b64;
    color: #fff;
}

.dropdown-item.active,
.dropdown-item:active {
    background: #f81b64;
    color: #fff;
}

.main-tabs-sts .nav-pills .nav-link {
    display: flex;
    align-items: center;
    color: #fff;
    background: #172c48;
    border-radius: 30px;
    font-size: 16px;
}

.main-tabs-sts .nav-pills .nav-link span {
    width: 21px;
    height: 21px;
    display: inline-block;
    margin-right: 8px;
}

.main-tabs-sts .nav-pills .nav-link span img {
    filter: brightness(0) invert(1);
}

.main-tabs-sts .nav-item {
    margin-right: 3px;
}

.main-tabs-sts .nav-pills .nav-link.active,
.main-tabs-sts .nav-pills .show>.nav-link {
    background: linear-gradient(86deg, rgba(255, 141, 53, 1) 0%, #fd0960 60%);
    border: solid 1px #fd0960;
}

.in-p-div h4 {
    font-size: 18px;
    font-weight: 700;
}

.in-p-div {
    display: inline-block;
    width: 100%;
    background: #172c48;
}

.comon-paly-div {
    display: inline-block;
    width: 100%;
    border-bottom: solid 1px #221a61;
}

.comon-paly-div figure {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.comon-paly-div figure img {
    filter: brightness(0) invert(1);
}

.comon-paly-div h6 {
    margin: 0;
    color: #fff;
}

.crm-team span {
    color: #fd0960;
}

.btn-modl-link {
    background: #fff;
}

.drw-btn {
    font-weight: 700;
}

.plya-divb .modal-header {
    background: #172c48;
    color: #fff;
}

.team-name {
    color: #fd0960;
}

.numb-te-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    color: #fd0960;
}

.numb-te-list .ltext {
    font-weight: 700;
    color: #000 !important;
}

.place-btn {
    background: #fd0960;
    color: #fff;
    width: 100%;
    height: 45px;
    line-height: 35px;
    margin-top: 20px;
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    margin: 0;
    background: #f3f3f3;
    border-radius: 6px;
    padding: 10px;
    margin: 15px auto;
}

.quantity-btn {
    background: #fd0960;
    color: #fff;
    border: none;
    outline: none;
    margin: 0;
    padding: 7px 11px;
    cursor: pointer;
}

.quantity-input {
    outline: none;
    user-select: none;
    text-align: center;
    width: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
}

.comon-bonus-div {
    display: inline-block;
    min-height: 340px;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    background: #172c48;
    padding: 20px;
    color: #fff;
}

.comon-bonus-div figure {
    width: 200px;
    height: 200px;
    margin: auto;
}

.comon-bonus-div h5 {
    font-weight: 700;
    font-size: 34px;
}

.comon-bonus-div h5 span {
    font-size: 17px;
    font-weight: 400;
}

.comon-bonus-div .btn {
    background: #fd0960;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
}

.controls .btn {
    font-size: 18px;
    padding: 10px 25px;
    font-weight: 500;
    background: none;
    box-shadow: none;
    color: #172c48;
    border-radius: 50px;
}

.controls .mixitup-control-active {
    color: #fff;
    background: #fd0960;
    box-shadow: 0px 14px 80px rgb(252 56 56 / 40%);
}

.bd-part>div:nth-child(2) .comon-bonus-div {
    background: #d65470;
}

.bd-part>div:nth-child(3) .comon-bonus-div {
    background: #1fac03ec;
}

.bd-part>div:nth-child(4) .comon-bonus-div {
    background: #03ac9eec;
}

.bd-part>div:nth-child(5) .comon-bonus-div {
    background: #ee5a04ec;
}

.bd-part>div:nth-child(8) .comon-bonus-div {
    background: #ee04daec;
}

.fixed-menu .top-bar-head {
    display: none;
}

.fixed-menu .logo-divb {
    display: none;
}

.top-hpadding-part h2 {
    /* color: #fff; */
    width: 40%;
}

.top-hpadding-part .form-select {
    font-size: 14px;
}

.top-hpadding-part .right-div-container {
    width: 60%;
}

.head-div {
    color: #fff;
    background: #fd0960;
    padding: 10px 20px;
}

.head-div h5 {
    margin: 0;
}

.comon-tables-sta {
    background: #f5f5f5;
    display: inline-block;
    width: 100%;
}

.comon-tables-sta h5 {
    margin: 0;
}

.sp-div1 {
    margin: 10px 0;
}

.sp-div1 h5,
.sp-div1 h6 {
    margin: 0;
}

.comontabd-div3 {
    display: inline-block;
    width: 100%;
    border-bottom: solid 1px #e9e9e9;
    padding: 10px 20px;
}

.comon-divbn {
    display: inline-block;
    width: 100%;
    background: #f5f5f5;
    padding: 20px;
}

.golas-text {
    width: 30%;
}

.comonre h5 {
    font-size: 14px;
}

.nret {
    color: #fd0960;
}

.comon-sectionm {
    padding: 10px 20px;
    display: inline-block;
    width: 100%;
    background: #fff;
}

.comon-sectionm ul {
    display: flex;
    flex-wrap: wrap;
}

.comon-sectionm ul li {
    margin-right: 20px;
}

.subscibe-footer .form-group {
    position: relative;
    width: 100%;
}

.btn-subnm {
    border: solid 2px #fd0960 !important;
    color: #fd0960;
    position: absolute;
    right: 0;
    top: -15px;
    width: 120px;
    border-radius: 30px;
    line-height: 28px;
    height: 45px;
}

.btn-subnm svg {
    width: 30px;
    height: 30px;
}

.subscibe-footer .form-control {
    text-transform: capitalize;
    color: #fff;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);
    border-radius: 0;
    padding-left: 0;
}

.subscibe-footer .form-control::placeholder {
    text-transform: uppercase;
    font-size: 30px;
}

.support-section svg {
    color: #fd0960;
    width: 40px;
    height: 40px;
}

.support-section h6 {
    color: #fff;
    opacity: .2;
}

.support-section a {
    color: #fff;
    text-decoration: none;
}

.btn-socal-1 {
    color: #fff;
    background: #fd0960;
    display: inline-block;
    width: 38px;
    height: 38px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    border-radius: 3px;
    margin-right: 10px;
}

.get-btn {
    /* border: solid 2px #fff !important; */
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.dr-text1 {
    color: #172c48;
}

.comon-news {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.comon-news figure {
    width: 90px;
    height: 100px;
    overflow: hidden;
}

.comon-news figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.left-divbn {
    width: 60%;
}

.left-divbn a {
    color: #fd0960;
    text-decoration: none;
}

.tg-btn {
    background: #ffd000;
    color: #000 !important;
}

.left-divbn p {
    color: #fff;
    font-size: 12px;
}

.left-divbn p i {
    color: #bbb;
}

.titel-text1 {
    text-transform: uppercase;
    color: #fff !important;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes click-radio-wave {
    0% {
        width: 25px;
        height: 25px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        width: 60px;
        height: 60px;
        margin-left: -15px;
        margin-top: -15px;
        opacity: 0.0;
    }
}

@media (max-width: 1180px) {
    .main-tabs-sts .nav-item {
        margin-bottom: 20px;
    }
    .support-section a {
        font-size: 13px;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 15px;
    }
}

@media (max-width: 914px) {
    footer {
        height: 100%;
    }
    .live-task-a .nav-pills .nav-link {
        margin-bottom: 10px;
    }
    .main-tabs-sts .nav-item {
        margin-bottom: 20px;
    }
    .btn-modl-link {
        margin-bottom: 10px;
    }
    .footer-div1 li:first-child a {
        margin-left: 0;
    }
    .footer-div1 li a {
        margin-left: 5px;
    }
    .support-section a {
        font-size: 16px;
    }
    .top-bar-head,
    .logo-divb {
        display: none;
    }
    .scan-div1 figure {
        position: relative;
        right: 0;
        left: 0;
        margin: auto;
    }
}

@media screen and (max-width: 767px) {
    .wizard-content-left {
        height: auto;
    }
    .comon-paly-div figure {
        margin: auto !important;
    }
}

@media (max-width: 668px) {
    .crm-team {
        padding: 5px 12px;
    }
    .btn-modl-link {
        margin: auto;
        width: 95%;
        margin-bottom: 10px;
    }
    .num-text1 {
        text-align: center;
    }
    .new-landing-banner .banner-new-add {
        padding-top: 70px;
        height: 470px;
    }
}

@media (max-width: 480px) {
    .btn-modl-link {
        margin: auto;
        margin-bottom: 10px;
        width: 90%;
    }
    .navbar-brand img {
        width: 120px;
    }
    .login-btn,
    .join-btn {
        border-radius: 0;
    }
    .ind-banner h2 {
        font-size: 36px;
        line-height: 41px;
    }
    .banner-section {
        height: 480px;
    }
    footer {
        height: 100%;
    }
    .live-task-a .nav-pills .nav-link {
        margin-bottom: 10px;
    }
}

@media (max-width: 375px) {
    .btn-subnm {
        width: 76px;
    }
}

.navbar-toggler i {
    color: #fff;
}

.mobile-menu-sec li a,
.mobile-menu-sec li .dropdown .btn {
    text-decoration: none;
    color: #fff;
    padding: 10px 5px 10px 10px;
    display: block;
    background: #f7f7f72e;
    margin-bottom: 3px;
    width: 100%;
    text-align: left;
    font-family: 'Kanit', sans-serif;
}

.contact-us-page-div {
    display: inline-block;
    width: 100%;
    background: #221a62;
}